html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: Helvetica Neue, sans;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
 

.content {
  max-width: 100%;
  margin: auto;
  position: relative;
}


.root-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.root-table th {
  background-color: lightseagreen
}

.root-table td,  .root-table th{
  border: 1px solid #ddd;
  padding: 8px;
}

.root-table tr td:first-child{
  padding-left: 3rem;
}

.root-table tr {
  position: relative;
}

.root-table .button-delete {
  position: absolute;
  left: 2rem;
}

.nested-table {
  margin: auto;
}